<section class="my-blog bg-secondary bg-gradient">
    <div class="container">
		<div class="row">
			<% @recipes.each do |recipe| %>
            	<%= render partial: 'recipe', locals: { recipe: recipe } %>
			<% end %>
		</div>    
	</div>
</section>
