<div class="col-md-12">
	<div class="media blog-media">
		<div class="media-body">
            <div class="formal-display">
                <div>
                    <a href="/recipes/<%=recipe.id%>">
                        <h1 class="mt-4 text-center display-4">
                            <%= recipe.name%>
                        </h1>
                    </a>
                    <br/>
                    <%= button_to 'REMOVE', recipe, class: 'btn btn-danger', method: :delete %>
                </div>
                <div>
                    <p><%= recipe.description%></p>
                </div>
            </div>
		</div>
	</div>
</div>